.tektur-font{
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
*{
    margin:0; padding: 0; box-sizing: border-box; 
}
input{
    display: none;
}
.container{
    width: 100%; text-align: center;
}
h1{
    font-weight: normal; font-size: 45px; position:relative; margin: 40px 0;
}
h1::before{
    content: '';
    position: absolute; width: 100px; height: 3px; 
    background-color: red; bottom: -10px; left: 85px; 
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width:100px;
    }
    50%{
        width:350px;
    }
    100%{
        width:100px;
    }
}
.top-content{
    background-color: #a68a64;
    width: 90%; margin: 0 auto 20px auto;
    border-radius: 5px; box-shadow: 3px 3px 5px lightgray;
}
h3{
    height:100%; 
    background-color: #936639;color: black;
    line-height: 60px;padding: 0 50px;
}
label{
    display: inline-block; 
    height: 100%; margin: 0 20px; line-height: 60px; font-size: 18px;
    color: black; cursor: pointer; transition: color .5s;
}
label:hover{
    color: black;
}
.cert-gallery{
    width: 90%; margin: auto; display: grid;
    grid-template-columns: repeat(4, 1fr); grid-gap: 20px;
}
.cert{
    position: relative; height: 230px; border-radius: 10px; 
    box-shadow: 3px 3px 5px lightgray; cursor: pointer;
    transition: .5s;
}
.cert img{
    width: 100%; height: 100%;
    border-radius: 10px; transition: .5s;
}
.cert::after{
    content: "";
    position: absolute; width: 100%; bottom: 0; left: 0; border-radius: 10px; height: 0;
    background-color: rgba(0, 0, 0, .4); transition: .3s; 
}
.cert:hover::after{
    height: 100%;
}
.cert:hover::before{
    margin-top: 0; opacity: 1;
}
#check1:checked ~ .container .cert-gallery .cert{
    opacity: 1; transform: scale(1); position: relative; transition: .5s;
}

#check2:checked ~ .container .cert-gallery .networks{
    opacity: 1; transform: scale(1); position: relative;transition: .5s;
}
#check2:checked ~ .container .cert-gallery .cyber,
#check2:checked ~ .container .cert-gallery .development,
#check2:checked ~ .container .cert-gallery .ai{
    opacity: 0; transform: scale(0); position: absolute;transition: 0s;
}

#check3:checked ~ .container .cert-gallery .cyber{
    opacity: 1; transform: scale(1); position: relative; transition: .5s;
}
#check3:checked ~ .container .cert-gallery .networks,
#check3:checked ~ .container .cert-gallery .development,
#check3:checked ~ .container .cert-gallery .ai{
    opacity: 0; transform: scale(0); position: absolute;transition: 0s;
}

#check4:checked ~ .container .cert-gallery .development{
    opacity: 1; transform: scale(1); position: relative; transition: .5s;
}
#check4:checked ~ .container .cert-gallery .cyber,
#check4:checked ~ .container .cert-gallery .networks,
#check4:checked ~ .container .cert-gallery .ai{
    opacity: 0; transform: scale(0); position: absolute;transition: 0s;
}

#check5:checked ~ .container .cert-gallery .ai{
    opacity: 1; transform: scale(1); position: relative; transition: .5s;
}
#check5:checked ~ .container .cert-gallery .cyber,
#check5:checked ~ .container .cert-gallery .networks,
#check5:checked ~ .container .cert-gallery .development{
    opacity: 0; transform: scale(0); position: absolute;transition: 0s;
}


